@charset "UTF-8";
body{
    background-color: rgb(255, 163, 179);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(22, 22, 54);
    background-color: rgb(167, 167, 247);
}
h2{
    color: rgb(226, 88, 88);
}
p{
    text-align: justify;
}